.shop__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.shop__buttons button {
    text-transform: capitalize;
    min-width: fit-content;
}

/* Media Queries */

@media (min-width:768px) {
    .shop__buttons {
        margin: 2rem 0;
    }
}

@media (min-width:1024px) {
    .shop__buttons {
        gap: 0;
    }
}