.shop__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    max-width: 1200px;
    margin: 1rem auto;
}

.shop__buttons button {
    text-transform: capitalize;
    min-width: fit-content;
}

/* Media Queries */

@media (min-width:768px) {
    .shop__buttons {
        margin: 2rem auto;
    }
}

@media (min-width:1024px) {
    .shop__buttons {
        gap: .5rem;
    }
}