.cart__container {
    padding: 2rem 0;
}

.cart__heading {
    color: var(--primary);
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart__heading span {
    font-size: 1rem;
}

.cart__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--secondary-neutral);
    margin: 2rem auto;

    max-width: 700px;
}

.cart__total span {
    color: var(--primary);
    font-weight: 700;
    padding-left: 5px;
    font-size: 1rem;
}

.cart__empty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(100%, 400px);
}

/* Media Queries */

@media (min-width:600px) {
    .cart {
        display: grid;
        grid-template-columns: 1fr 40%;
        gap: 2rem;
        width: min(100%, 800px);
        margin: 0 auto;
    }

    .cart .cart__summary * {
        position: sticky;
        top: 1rem;

    }
}

@media (min-width:900px) {
    .cart {
        gap: 4rem;
    }
}