.buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.buttons button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    margin: 0;

}


.wishlist {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .7rem;
    background: rgb(229, 229, 229);
    border-radius: 100%;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.wishlist:hover {
    background-color: rgb(195, 195, 195);
}