.list {
    padding: 1rem 0 2rem;
}

.list__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem
}

.list__header h3 {
    font-weight: 600;
    color: var(--primary);
}

.list__header button {
    margin: 0;
}