.background {
  background-image: url("https://images.unsplash.com/photo-1591964702073-e654131f18df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  position: relative;
}

.hero {
  position: relative;
  background: rgba(0, 0, 0, 0.45);
  height: 100%;
  width: 100%;

}

.hero__content {
  text-align: center;
  height: 90vh;
  display: grid;
  place-items: center;
  place-content: center;
  margin: auto;
  max-width: 500px;
}

.hero__content * {
  color: var(--primary-light)
}

.hero__content h1 {
  font-weight: 400;
  font-size: clamp(1.65rem, 6vw, 2.8rem);
  text-transform: uppercase;
  font-weight: 700;
}

.hero__content button {
  color: var(--primary);
  background: var(--primary-light);
  border: none;

}


/* Media Queries */

@media (min-width: 768px) {


  .hero__content h1 {
    width: 100%;
  }
}