.background {
  background-image: url("https://images.unsplash.com/photo-1618220179428-22790b461013?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1854&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  position: relative;
}

.hero {
  position: relative;
  top: 90%;
  transform: translateY(-100%);
  background: rgba(226, 220, 220, 0.43);
  backdrop-filter: blur(30px);
  width: min(85%, 600px);
  height: 25rem;
  border-radius: 0px 200px 0px 0px;
}

.hero__content {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-30%, -50%);
}

.hero__content h1 {
  width: 85%;
  font-weight: 400;
  font-size: clamp(1.5rem, 6vw, 2.5rem);
  text-transform: uppercase;
}

.hero__content h1 span {
  font-weight: 700;
  color: var(--primary);
}

.hero__content p {
  max-width: 400px;
}

/* Media Queries */

@media (min-width: 360px) {
  .hero {
    height: 20rem;
  }
}


@media (min-width: 768px) {
  .hero {
    border-radius: 0px 300px 0px 0px;
  }

  .hero__content h1 {
    width: 100%;
  }
}