.button {
    padding: 8px 20px;
    margin-top: 1rem;
    background-color: var(--primary);
    color: var(--primary-neutral);
    font-size: clamp(1rem, 3vw, 1.1rem);
    font-weight: 400;
    border: none;
    cursor: pointer;
    border-radius: 5rem;
    transition: all 0.3s ease-in-out;
}


.button:hover {
    background-color: #b92804
}