.button {
    padding: 10px 18px;
    margin-top: 1rem;
    background-color: var(--primary);
    color: var(--primary-neutral);
    font-weight: 500;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
}


.button:hover {
    background-color: #b92804
}