.button {
    padding: 10px 20px;
    margin-top: 1rem;
    font-size: clamp(.9rem, 3vw, 1rem);
    font-weight: 400;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.primary {
    background-color: var(--primary);
    color: var(--primary-neutral);
}

.primary:hover {
    background-color: #b92804
}

.secondary {
    border: 1px solid black;
    background: none;
    color: black;
}

.secondary:hover {
    background-color: black;
    color: white;

}