.nav {
    height: 10vh;
    background: rgba(216, 216, 216, 0.43);
    backdrop-filter: blur(30px);
    display: flex;
    align-items: center;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
        rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.nav__group,
.nav__links,
.nav__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.logo {
    font-family: 'Yeseva One', cursive;
    font-size: clamp(1.2rem, 3vw, 1.5rem);
    font-weight: 700;
    color: var(--primary);
}

.nav__links {
    list-style: none;
    gap: .5rem;
}

.nav__links a {
    text-decoration: none;
    color: var(--secondary-neutral);
    font-size: clamp(1rem, 3vw, 1.1rem);
    font-weight: 400;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.nav__links a:hover {
    color: rgb(77, 76, 76);
}

.nav__icons {
    list-style: none;
    gap: .4rem;
}

.nav__icons li {
    position: relative;
}

.nav__icons p {
    position: absolute;
    top: -.875rem;
    right: -4px;
    font-size: .875rem;
    color: var(--secondary-neutral);
    font-weight: 500;
}