.nav {
    height: 10vh;
    background: rgba(226, 220, 220, 0.43);
    backdrop-filter: blur(30px);
    display: flex;
    align-items: center;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
        rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.nav__group,
.nav__links,
.nav__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}


.nav__links {
    list-style: none;
    gap: .5rem;
}

.nav__links a {
    text-decoration: none;
    color: var(--secondary-neutral);
    font-weight: 500;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.nav__links a:hover {
    color: rgb(127, 126, 126);
}

.nav__icons {
    list-style: none;
    gap: .4rem;
}

.nav__icons li {
    position: relative;
}

.nav__icons p {
    position: absolute;
    top: -.8rem;
    right: -2px;
    font-size: .875rem;
    color: var(--secondary-neutral);
    font-weight: 500;
}

.logo {
    font-family: 'Yeseva One', cursive;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--primary);
}