.empty {
    padding: 2rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.empty figure img {
    width: 100%;
}

.empty h2 {
    font-size: clamp(1rem, 3vw, 1.2rem);
    font-weight: 500;
    margin-bottom: 1rem;
}

.empty p {
    padding-bottom: .5rem;
}