.category {

    margin-top: 1rem;
}


.category__option {
    display: flex;
    align-items: center;
    gap: .5rem;
    text-transform: capitalize;
    padding-bottom: .2rem;
}

.category__option input {
    cursor: pointer;
    width: 1rem;
    height: 1rem;
}