.filter {
    height: 100%;
}

.filter__group {
    padding: 1.2rem 0;
}

.filter h3 {
    font-weight: 500;
}

.filter h4 {
    font-weight: 400;
    padding-bottom: .5rem;
    text-transform: capitalize;
}

.filter__option {
    display: flex;
    align-items: center;
    padding: .2rem 0;
}

.filter__option input {
    min-width: 1rem;
    width: 1rem;
    height: 1rem;
}

.filter__option label {
    text-transform: capitalize;
    padding-left: .5rem;
}

.filter__option input {
    cursor: pointer;
}

.filter__button-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding-bottom: 1rem;

}