.filter {
    padding: 1.5rem 0;
    height: 100%;
}

.filter__group {
    padding: 1.5rem 0;
}

.filter h4 {
    font-weight: 400;
    padding-bottom: .5rem;
}

.filter__option {
    margin: .3rem 0;
    display: flex;
    align-items: center;
}

.filter__option label {
    text-transform: capitalize;
    padding-left: .5rem;
}

.filter__option input {
    cursor: pointer;
}

.filter__button-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding-bottom: 1rem;

}