.filter__container {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(226, 220, 220, 0.43);
    backdrop-filter: blur(30px);
    width: 100%;
    height: 100vh;
    z-index: 10;
}

.filter {
    padding: 1rem 0;
    position: relative;
    height: 100vh;
}

.filter__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: clamp(1.1rem, 3vw, 1.3rem);
}

.filter__heading span {
    cursor: pointer;
}