.sort__option {
    display: flex;
    align-items: center;
    gap: .5rem;
    text-transform: capitalize;
    padding: .2rem 0;
}

.sort__option input {
    cursor: pointer;
    width: 1rem;
    height: 1rem;
}