* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}


:root {
    --primary: #9F2C0F;
    --primary-neutral: #F2F0F0;
    --secondary-neutral: #a5a4a4;
}

.logo {
    font-size: clamp(1.3rem, 3vw, 1.5rem);
    font-weight: 500;
    color: var(--primary);
}

.text {
    font-size: clamp(.9rem, 3vw, 1rem);
    line-height: 20px;
    padding: .5rem 0;
}

/* Media Queries */

@media (min-width:768px) {
    .text {
        line-height: 25px;
    }

}