* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}


:root {
    --primary: #9F2C0F;
    --primary-neutral: #F2F0F0;
    --secondary-neutral: #bfbebe;
}