.account {
    height: 100vh;
    /* background: red; */
}

.account__group {
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
    place-items: center;
    height: 90vh;
}

.account figure {
    display: none;
}

/* Media Queries */

@media (min-width: 768px) {
    .account__group {
        width: 50%;
        margin-left: auto;

    }

    .account figure {
        display: grid;
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        z-index: -1;
    }

    .account figure img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}